@import "tailwindcss";

@font-face {
    font-family: 'Inter Bold';
    src: url('/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Semi Bold';
    src: url('/fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Regular';
    src: url('/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Light';
    src: url('/fonts/Inter/static/Inter_18pt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Extra Light Italic';
    src: url('/fonts/Inter/static/Inter_18pt-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Extra Light';
    src: url('/fonts/Inter/static/Inter_18pt-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Medium';
    src: url('/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Italic';
    src: url('/fonts/Inter/static/Inter_18pt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
  /*inter font*/
  --inter-bold: "Inter Bold";
  --inter-semi-bold: "Inter Semi Bold";
  --inter-regular: "Inter Regular";
  --inter-light: "Inter Light";
  --inter-medium: "Inter Medium";
  --inter-extra-light: "Inter Extra Light";
  --inter-extra-light-italic: "Inter Extra Light Italic";
  --inter-italic: "Inter Italic";

  --roboto-regular: "Roboto Regular";
  --roboto-bold: "Roboto Bold";
  --roboto-medium: "Roboto Medium";
  --roboto-light: "Roboto Light";

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-iBold {
  font-family: var(--inter-bold);
}
.font-isBold {
  font-family: var(--inter-semi-bold);
}
.font-iRegular {
  font-family: var(--inter-regular);
}
.font-iLight {
  font-family: var(--inter-light);
}
.font-iMedium {
  font-family: var(--inter-medium);
}
.font-ixLight {
  font-family: var(--inter-extra-light);
}
.font-ixlItalic {
  font-family: var(--inter-extra-light-italic);
}
.font-iItalic {
  font-family: var(--inter-italic);
}

.font-rRegular {
  font-family: var(--roboto-regular);
}

.font-rBold {
  font-family: var(--roboto-bold);
}
.font-rMedium {
  font-family: var(--roboto-medium);
}

.font-rLight {
  font-family: var(--roboto-light);
}